/* page 1 */
/*navbar + logo*/
.navbar {
background-color: #f79803;
margin: 0;
}

.list {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    float: right;
  }

.list li {
    float: right;
  }
  

.list li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    font-size: ;

  }
  
/*navbar + logo End*/

/*login*/
.login{
  border: 30%;
  margin: 5% 20%;
}

.Information{
  text-align: center;
  margin-bottom: 6%;
}
/*login End*/

/*cards*/
.cards{
  margin: 5% 15% ;
}
.taxtcards{
  text-align: center;
  margin-bottom: 6%;
  font-size: 60px;
}
/*cards End*/

/*footer*/
footer{
  background: #f79803;
  padding: 90px 0;
}

.footer-container{
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.newsletter-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


@media screen and (max-width:960px) {
  .footer-container{
    max-width: 600px;
  }
  .right-col{
    width: 100%;
    margin-bottom: 60px;
  }

  .left-col{
    width: 100%;
    text-align: center;
  }
}


@media screen and (max-width:700px){
  .btn{
    margin: 0;
    width: 100%;
    margin-top: 20px;
    } 
}
/*footer End*/

/* page 1 End */

/*------------------------------------------*/

/* page 2 */

/* To do add */
.to-dobox{
  margin: 10px 30%;
  text-align: center;
}
/* To do add end*/



/* page 2 End */

/*------------------------------------------*/
 
/*page 3 */

/*calculator*/


#calc-contain{
  position: relative;
  width: 400px;
  border: 2px solid black;
  border-radius: 12px;
  margin: 5% auto;
  padding: 20px 20px 100px 20px;
}
#agh{
  position: relative;
  float: right;
  margin-top: 15px;
}
#agh p{
  font-size: 20px;
  font-weight: 900;
}
input[type=button] {
  background: lightGray;
  width: 20%;
  font-size: 20px;
  font-weight: 900;
  border-radius: 7px;
  margin-left: 13px;
  margin-top: 10px;
}
input[type=button]:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
input[type=button]:hover {
  background-color: #003300;
  color: white;
}

input[type = number] {
  position: relative;
  display: block;
  width: 90%;
  margin: 5px auto;
  font-size: 20px;
  padding: 10px;
  
}